Tests: growpart-loop
Restrictions: needs-root isolation-machine allow-stderr
Depends: gdisk, fdisk

Tests: growpart-fsimage, growpart-fsimage-middle
Restrictions: allow-stderr
Depends: gdisk, fdisk

Tests: mic
Restrictions: needs-root isolation-machine allow-stderr
